main { margin-bottom: 5rem; }
main > div:first-child { height: 30rem; }
main img { width: 100%; height: auto; }
div { background-position: 0; background-size: 100% 100%; background-repeat: no-repeat; }

.about_this { height: 28rem; }
.about_this > div > div:first-child { height: 16rem; background-position: 0; background-size: 100% 100%; background-repeat: no-repeat; }
.about_this > div > div:last-child { height: 12rem; }
.about_this div p { margin-bottom: 0.25rem; padding-left: 0.65rem; text-indent: -0.65rem; }

.join_us .join_us_wrapper { height: 12rem; width: 80%; margin: 0 auto; }
.join_us .join_us_wrapper div { width: 12rem; position: relative; }
.join_us .join_us_wrapper div:not(:first-child)::before { content: ''; border-width: 2px 2px 0 0; border-style: solid; border-color: #cfcfcf; position: absolute; width: 10%; height: 10%; transform: rotate(45deg); top: 45%; right: 142%; }
.join_us .join_us_wrapper div:not(:last-child) { margin-right: 10rem; }