
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700');

/* Order History css */
/* .orders-main { font-size: 0.82rem; } */
.orders-main .orders-container { grid-gap: 1%; grid-template-columns: 13% 1.1fr 0.9fr; min-height: 91vh; }
.orders-main .order-item { cursor: pointer; width: 100%; min-height: 2.5rem; display: flex; flex-direction: column; justify-content: center; padding: 0.31rem 0.5rem; text-decoration: none; border-width: 0 0 1px 0; border-style: solid; border-color: #dee2e6; font-size: 0.85rem; }
/* .orders-main .order-item:last-child { border-bottom: 0 !important;} */

.orders-main .orders-list-container .orders-list > div { height: 82vh; width: 100%; }

.orders-main .order-detail-container, 
.orders-main .order-info-container { font-size: 0.82rem; max-height: 91vh; overflow-y: auto; }

.orders-main .order-info-container [class $='-info-section'] { width: 100%; margin-top: 0.5rem; border: 1px solid var(--bs-border-color); border-radius: 0.375rem; padding: 0.5rem; }
.orders-main .order-info-container [class $='-info-section'] p { margin: 0; }
.orders-main .order-info-container [class $='-info-section'] .info-sec { width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; border-bottom: 1px solid var(--bs-border-color); padding: 0.5rem; }
.orders-main .order-info-container [class $='-info-section'] .info-sec:last-child { border-bottom-width: 0;}
.orders-main .order-info-container [class $='-info-section'] .info-sec > label { width: 20%; }
.orders-main .order-info-container [class $='-info-section'] .info-sec .sub-sec > label { width: 18.5%; }
.orders-main .order-info-container [class $='-info-section'] .info-sec .sub-sec .sub-inner-sec > div p > label { width: auto; min-width: 40%; }
.orders-main .order-info-container [class $='-info-section'] .info-sec .sub-sec .sub-inner-sec.quarter-grid-column { grid-template-columns: 1fr 1fr 1fr 1fr; }

.orders-main .order-info-container .packaging-info-section .packagin-status { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto; 
  font-size: 0.7rem; 
  width: 4vw; 
  height: 4vw; 
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  color: #dee2e6;
}
.orders-main .order-info-container .packaging-info-section .packagin-status.ing { 
  color: royalblue; 
}

.orders-main .order-detail-container .list-group .thumbnail { width: 3rem; }
.orders-main .order-detail-container .list-group .list-group-item .apply-discount-value { display: none; }
.orders-main .order-detail-container .list-group .list-group-item.apply-discount .text-line-through { text-decoration: line-through; }
.orders-main .order-detail-container .list-group .list-group-item.apply-discount .apply-discount-value { display: initial; }
/* .orders-main ::placeholder { color: rgb(0, 0, 0); opacity: 1; }
.orders-main ::-ms-input-placeholder { color: red; }
.orders-main ::-ms-input-placeholder { color: red; } */
/* Order History css */

.orders-main .pi-viewer { 
  display: none; 
  width: 100%;
  height: 100vh;
  background-color: #dededec2;
  overflow-y: auto;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}

.pi-form-container * { font-family: 'nanum gothic' ;}
.pi-form-container  { padding: 0.75rem 1.25rem; min-height: 100vh; }
.pi-form-container p { margin: 0; }
.pi-form-container .pi-company-name { width: 100%; border-bottom: 1px solid black; }
.pi-form-container .pi-company-name > div { margin-bottom: 0.1rem; font-size: 2.5rem; border-bottom: 1px solid black; display: flex; flex-direction: row; justify-content: space-between;}
.pi-form-container .pi-company-name > div div:last-child { align-self: end; margin-bottom: 0.25rem; }
.pi-form-container .pi-seller-buyer { display: grid; grid-template-columns: 1fr 1fr; margin-bottom: 1.25rem; }
.pi-form-container table thead tr th, .pi-form-container table tbody tr td { text-align: center; padding: 0.25rem 0; }
.pi-form-container table th, .pi-form-container table td { border-right: 1px solid black; }
.pi-form-container table tbody td, .pi-form-container table tfoot td { border-bottom: 1px solid black; }
.pi-form-container .invoice-notice table { font-size: 0.8rem; }
.pi-form-container .invoice-notice table td:first-child { width: 17%; text-align: left; vertical-align: top; }
.pi-form-container .invoice-notice table td { border-width: 0; text-align: left; font-weight: bold; padding: 0 0 0.25rem; }
.pi-form-container .sign { width: 30%; margin-left: auto; }
 