.home-main { margin-bottom: 5rem; }
/* main > div:first-child { height: 30rem; } */
.home-main .d-grid { grid-gap: 1rem; }
.home-main img { width: 100%; height: auto; }
.home-main .board { height: 16rem; overflow-y: auto; }
.home-main .board .col { max-height: 2rem; }
.home-main .board .col:not(:last-child) { border-bottom: 1px dotted gray; } 
.home-main .board .col a { display: block; text-decoration: initial; position: relative; padding: 0.2rem 0 0.2rem;}
.home-main .board .col.fix { font-weight: bold; text-decoration: underline; }
.home-main .board .col.fix a { padding-left: 1.2rem; }
.home-main .board .col.fix a::before { content: ''; background-image: url('/svg/pin-angle-fill.svg'); background-size: contain; background-repeat: no-repeat; position: absolute; top: 0; left: 0; width: 1rem; height: 100%; background-position: 0;}
div { background-position: 0; background-size: 100% 100%; background-repeat: no-repeat; }

.about_this { height: 28rem; }
.about_this > div > div:first-child { height: 16rem; background-position: 0; background-size: 100% 100%; background-repeat: no-repeat; }
.about_this > div > div:last-child { height: 12rem; }
.about_this div p { margin-bottom: 0.25rem; padding-left: 0.65rem; text-indent: -0.65rem; }

.join_us .join_us_wrapper { height: 12rem; width: 80%; margin: 0 auto; }
.join_us .join_us_wrapper div { width: 12rem; position: relative; }
.join_us .join_us_wrapper div:not(:first-child)::before { content: ''; border-width: 2px 2px 0 0; border-style: solid; border-color: #cfcfcf; position: absolute; width: 10%; height: 10%; transform: rotate(45deg); top: 45%; right: 142%; }
.join_us .join_us_wrapper div:not(:last-child) { margin-right: 10rem; }