.guide-content {
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
}
[id*='-tab'].tab:not(:first-child) {
  border-top: 1px solid black;
  padding-top: 2.5rem;
}
.number-list {
  counter-reset: index;
  position: relative;
}
.number-item::before {
  counter-increment: index;
  content: counters(index, '-') '. ';
}
.badge-number-item::before {
  counter-increment: index;
  content: counter(index);
}
.step-number-item::before {
  counter-increment: index;
  content: 'STEP ' counter(index);
}
.reset-number-list {
  counter-reset: newIndex;
  position: relative;
}
.reset-number-item::before {
  counter-increment: newIndex;
  content: counters(newIndex, '-') '. ';
}
.reset-badge-number-item::before {
  counter-increment: newIndex;
  content: counter(newIndex);
}
.reset-normal-number-item::before {
  counter-increment: newIndex;
  content: counter(newIndex) '. ';
}
.step-list {
  counter-reset: step;
  position: relative;
}
.step-item::before {
  counter-increment: step;
  content: 'STEP ' counter(step)
}
.badge-list {
  counter-reset: badgeIndex; 
  position: relative;
}
.badge-item::before {
  counter-increment: badgeIndex;
  content: counters(badgeIndex, '-');
}

.badge-container {
  border-color: RGB(220,53,69);
  border-width: 2px;
  border-style: solid;
  position: absolute;
  border-radius: 0.375rem;
}
.badge-container .badge-number {
  position: absolute;
  border-radius: 50%;
  text-align: center;
  background-color: RGBA(220,53,69,1);
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0.8rem;
  top: -1.2rem;
  left: 0;
}
.badge-container .badge-container {
  border-width: 1px;
  border-color: #ff5b5b;
}
.badge-container .badge-container .badge-number {
  font-size: 0.6rem;
  /* width: 1rem;
  height: 1rem; */
  width: fit-content;
  height: fit-content;
  min-width: 2rem;
  padding: 0.05rem 0.2rem;
  border-radius: 0.5rem;
  background-color: #ff5b5b;
  top: -1rem;
}
.bg-img {
  position: relative;
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}
img.img-btn-subscript {
  width: fit-content;
  max-width: 9rem;
  border-radius: 5px;
}
.manual-navigator::-webkit-scrollbar {
  display: none;
  width: 0;
}
[class*='-menu'] {
  font-size: 0.8rem;
  background-color: #ececec73;
  /* border-bottom: 1px solid; */
}
.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}
.btn-toggle::after {
  display: inline-flex;
  width: 1.25rem;
  line-height: 0;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="rgba%280,0,0,.5%29" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 16 16"><path d="M8 14 l6-6-6-6"/></svg>');
  transition: transform .35s ease;
  transform-origin: 0.5rem 50%;
}
.nav-link.active {
  color: #ffedf3 !important;
  font-weight: bold;
  background-color: #ff74a3;
}

.login-section .login-step {
  width: 24%;
}

.login-section .login-step .bg-img {
  height: 19.7rem;
  border: 1px solid rgb(209, 209, 209);
}


/* title */
[class*=title] { margin-bottom: 0.1rem; }
.title-1 { font-size: 1.75rem; }
/* .title-2 { font-size: 1.7rem; }
.title-3 { font-size: 1.65rem; }
.title-4 { font-size: 1.6rem; } */
.title-5 { font-size: 1.55rem; }
/* .title-6 { font-size: 1.5rem; }
.title-7 { font-size: 1.45rem; } */
.title-8 { font-size: 1.4rem; }
.title-9 { font-size: 1.35rem; }
.title-10 { font-size: 1.3rem; }
.title-11 { font-size: 1.25rem; }
.title-12 { font-size: 1.2rem; }
/* .title-13 { font-size: 1.15rem; } */
.title-14 { font-size: 1.1rem; }
.title-15 { font-size: 1.05rem; }
.title-16 { font-size: 1rem; }
.title-17 { font-size: 0.95rem; }
/* title */